parameters:
    level: 7
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#type has no value type specified in iterable type array#'
            path: tests/
        -
            message: '#type has no value type specified in iterable type iterable#'
            path: tests/
